.load-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 
.product-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
}

.product {
    padding: 20px;
    border: 1px solid ;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product img {
    height: 160px;
    width: 160px;
}

.btn-container {
    display: flex;
    justify-content: center;
}