.active {
    color: #fff700;
    cursor: pointer;
}
  
.inactive {
    color: #000000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}